*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:#f4fff4;
    color:#222;
    transition:0.4s;
}

header{
    text-align:center;
    padding:30px;
    background:#2e7d32;
    color:white;
}

main{
    display:flex;
    flex-direction:column;
    gap:20px;
    padding:20px;
}

.card{
    background:white;
    padding:20px;
    border-radius:12px;
    box-shadow:0 2px 8px rgba(0,0,0,0.1);
    transition:0.3s;
}

.card:hover{
    transform:translateY(-5px);
}

button{
    margin-top:15px;
    padding:12px 20px;
    border:none;
    border-radius:8px;
    cursor:pointer;
    background:#1b5e20;
    color:white;
    font-size:16px;
}

button:hover{
    background:#4caf50;
}

footer{
    text-align:center;
    padding:20px;
    background:#2e7d32;
    color:white;
}

/* Modo Escuro */

.dark{
    background:#121212;
    color:white;
}

.dark .card{
    background:#1f1f1f;
    color:white;
}

/* Responsividade */

@media (max-width:768px){

    header h1{
        font-size:28px;
    }

    main{
        padding:10px;
    }
}