* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  min-height: 100vh;
  background: #f5f2f2;
  color: #333;
  display: flex;
  flex-direction: column;
  transition: 0.3s;
}

.cabecalho {
  background: #28004d;
  padding: 18px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.cabecalho h1,
.cabecalho a {
  color: white;
}

.cabecalho a {
  text-decoration: none;
}

#botao-tema {
  background: white;
  color: #28004d;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.introducao {
  text-align: center;
  padding: 35px 20px 20px;
}

.introducao h2 {
  color: #28004d;
  margin-bottom: 10px;
}

.introducao p {
  color: #555;
}

.cartoes {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
  padding: 30px 25px 50px;
}

.cartao {
  width: 300px;
  height: 360px;
  perspective: 1000px;
}

.cartao-interno {
  width: 100%;
  height: 100%;
  position: relative;
  transition: 0.8s;
  transform-style: preserve-3d;
}

.cartao:hover .cartao-interno {
  transform: rotateY(180deg);
}

.cartao-frente,
.cartao-verso {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 30px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 6px 15px #0002;
  backface-visibility: hidden;
}

.cartao-frente {
  background: white;
}

.cartao-frente h2 {
  margin: 20px 0;
}

.cartao-frente p {
  color: #777;
}

.numero {
  background: #28004d;
  color: white;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: bold;
}

.cartao img {
  width: 120px;
  height: 90px;
  object-fit: cover;
  border-radius: 10px;
  margin-top: 10px;
}

.cartao-verso {
  background: #28004d;
  color: white;
  transform: rotateY(180deg);
}

.cartao-verso h2 {
  margin-bottom: 20px;
}

.cartao-verso p {
  line-height: 1.5;
}

body.modo-escuro {
  background: #18151c;
  color: white;
}

body.modo-escuro .introducao h2 {
  color: #c58aff;
}

body.modo-escuro .introducao p {
  color: #ccc;
}

body.modo-escuro .cartao-frente {
  background: #29242f;
  color: white;
}

body.modo-escuro .cartao-frente p {
  color: #ccc;
}

body.modo-escuro .cartao-verso {
  background: #3a1261;
}

body.modo-escuro #botao-tema {
  background: #3a1261;
  color: white;
}

footer {
  margin-top: auto;
  background: #28004d;
  color: white;
  text-align: center;
  padding: 18px;
}

@media (max-width: 650px) {

  .cabecalho {
    flex-direction: column;
    text-align: center;
  }

  .cartao {
    width: 290px;
    height: 350px;
  }

}

